<!DOCTYPE html>
@using System.Data;
@using System.Data.SqlClient;
@using System;
@using System.Collections;
<html>
<head>
    <title></title>
</head>
<body>
    @{
        string json;
        using (var reader = new StreamReader(Request.InputStream))
        {
            json = reader.ReadToEnd();
        }
        var info = Json.Decode(json);
        var connection = new SqlConnection("Data Source=SHAGOR;Initial Catalog=hospital_managment_system;Integrated Security=True;Pooling=False");
        var cmd = connection.CreateCommand();
        connection.Open();
        var id = info[0];
        var doctorid = info[1];
        var date = info[2];
        var time = info[3];
        cmd.CommandText = "insert into appointment values (@id,@doctorid,@date,@time)";

        SqlParameter p1 = new SqlParameter("@id", SqlDbType.Int);
        p1.Value = @id;
        cmd.Parameters.Add(p1);

        SqlParameter p2 = new SqlParameter("@doctorid", SqlDbType.Int);
        p2.Value = @doctorid;
        cmd.Parameters.Add(p2);

        SqlParameter p3 = new SqlParameter("@date", SqlDbType.Date);
        p3.Value = @date;
        cmd.Parameters.Add(p3);

        SqlParameter p4 = new SqlParameter("@time", SqlDbType.Time);
        p4.Value = @time;
        cmd.Parameters.Add(p4);
        cmd.ExecuteNonQuery();
        connection.Close();
    }
</body>
</html>
