<!DOCTYPE html>
@using System.Data;
@using System.Data.SqlClient;
@using System;
@using System.Collections;
<html>
<head>
    <title></title>
</head>
<body>
    @{
        List<string> list = new List<string>();
        string json;
        using (var reader = new StreamReader(Request.InputStream))
        {
            json = reader.ReadToEnd();
        }
        var info = Json.Decode(json);
        var low = (int)info[0];
        var name = (string)info[1];
        var connection = new SqlConnection("Data Source=SHAGOR;Initial Catalog=hospital_managment_system;Integrated Security=True;Pooling=False");
        var cmd = connection.CreateCommand();
        connection.Open();
        cmd.CommandText = "select *  from diagnosis where diagnosis_id >= @low  and diagnosis_name like @name";
        SqlParameter p1 = new SqlParameter("@low", SqlDbType.Int);
        p1.Value = @low;
        cmd.Parameters.Add(p1);
        SqlParameter p2 = new SqlParameter("@name", SqlDbType.VarChar);
        p2.Value = "%" + @name + "%";
        cmd.Parameters.Add(p2);
        var row = cmd.ExecuteReader();
    }
    @{
        while (row.Read())
        {
            list.Add(row["diagnosis_id"].ToString());
            list.Add(row["diagnosis_name"].ToString());
            list.Add(row["diagnosis_description"].ToString());
            list.Add(row["rate"].ToString());
        }
        var jsn = Json.Encode(list);
        Response.Write(jsn);
        Response.End();
        connection.Close();
    }
</body>
</html>
