<!DOCTYPE html>
@using System.Data;
@using System.Data.SqlClient;
@using System;
@using System.Collections;
<html>
<head>
    <title></title>
</head>
<body>
    @{
        List<string> list = new List<string>();
        string json;
        using (var reader = new StreamReader(Request.InputStream))
        {
            json = reader.ReadToEnd();
        }
        var info = Json.Decode(json);
        var low = (int)info[0];
        var name = (string)info[1];
        var connection = new SqlConnection("Data Source=SHAGOR;Initial Catalog=hospital_managment_system;Integrated Security=True;Pooling=False");
        var cmd = connection.CreateCommand();
        connection.Open();
        cmd.CommandText = "select *  from employee where employee_id >= @low  and employee_name like @name";
        SqlParameter p1 = new SqlParameter("@low", SqlDbType.Int);
        p1.Value = @low;
        cmd.Parameters.Add(p1);
        SqlParameter p2 = new SqlParameter("@name", SqlDbType.VarChar);
        p2.Value = "%" + @name + "%";
        cmd.Parameters.Add(p2);
        var row = cmd.ExecuteReader();
    }
    @{
        while (row.Read())
        {
            list.Add(row["employee_id"].ToString());
            list.Add(row["employee_name"].ToString());
            list.Add(row["employee_type"].ToString());
            list.Add(row["salary"].ToString());
            var join = Convert.ToDateTime(row["joining_date"]).ToString("dd/MM/yyyy");
            list.Add(join.ToString());
            var leave = row["leaving_date"];
            if (@leave.ToString() != "")
            {
                leave = Convert.ToDateTime(row["leaving_date"]).ToString("dd/MM/yyyy");
            }
            else
            {
                leave = "NULL";
            }
            list.Add(leave.ToString());
           
        }
        var jsn = Json.Encode(list);
        Response.Write(jsn);
        Response.End();
        connection.Close();
    }
</body>
</html>
