<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="@Href("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
<html>
    <head>
        <title></title>
    </head>
<body style="background-color:#EFFBFB">
    <div class="container-fluid" style="height:100%;width:300px;float:left">
        <!--This is a comment. Comments are not displayed in the browser-->
        <div class="row">
            <div class="col-md-3">
                <div class="list-group" style="width:300px;margin-left:-15px">
                    <span class="list-group-item" style="background-color:#005566;color:white"> <img style="width:100px;height:100px" src="css/logo1.png"> </span>
                    <span class="list-group-item" style="background-color:#005566;color:white"> <img style="width:80px;height:80px" src="css/admin.png"> Welcome Admin </span>
                    <a href="~/Default.cshtml" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/dashboard.png" /> Dashboard</a>
                    <a href="~/department.cshtml" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/department.png" /> Department</a>
                    <a href="~/doctor.cshtml" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/doctor.png" /> Doctor </a>
                    <a href="~/patient.cshtml" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/patient.png" /> Patient</a>
                    <a href="~/employee.cshtml" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/employee.gif" /> Employee</a>
                    <a href="~/medicine.cshtml" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/medicine.png" /> Medicine</a>
                    <a href="cabin.cshtml" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/bed.jpg" /> Cabin</a>
                    <a href="~/bed.cshtml" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/bed.jpg" /> Bed</a>
                    <a href="~/diagnosis.cshtml" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/diagnosis.png" /> Diagnosis</a>
                    <a href="#" class="list-group-item" style="background-color:#005566;color:white"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
