<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="@Href("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
<html>
<head>
    <title></title>
</head>
<body style="background-color:#EFFBFB">
    <div class="container-fluid" style="height:100%;width:300px;float:left">
        <!--This is a comment. Comments are not displayed in the browser-->
        <div class="row">
            <div class="col-md-3">
                <div class="list-group" style="width:300px;margin-left:-15px">
                    <span class="list-group-item" style="background-color:#005566;color:white"> <img style="width:80px;height:80px" src="css/logo1.png"> </span>
                    <a href="~/Default.cshtml" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/dashboard.png" /> Dashboard</a>
                    <a href="#" id="check" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/total.png" /> Doctor Fee</a>
                    <a href="#" id="cabin_bed_bill" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/total.png" /> Cabin-Bed Bill</a>
                    <a href="#" id="medicine_bill" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/total.png" /> Medicine Bill</a>
                    <a href="#" id="diagnosis_bill" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/total.png" /> Diagonsis Bill</a>
                    <a href="#" id="appoint" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/doctor.png" /> Doctor checkup </a>
                    <a href="#" id="med" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/medicine.png" /> Buy Medicine</a>
                    <a href="#" id="admit_bed" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/bed.jpg" /> Admit to Bed</a>
                    <a href="#" id="admit_cabin" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/bed.jpg" /> Admit to Cabin</a>
                    <a href="#" id="diag" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/diagnosis.png" /> Diagnosis</a>
                    <a href="#" id="cabin_bill" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/bill.png" /> Cabin Info</a>
                    <a href="#" id="bed_bill" class="list-group-item" style="background-color:#005566;color:white"> <img style="height:25px;width:25px" src="css/bill.png" /> Bed Info</a>
                    <a href="#" class="list-group-item" style="background-color:#005566;color:white"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
